@font-face {
    font-family: "Comic Sans";
    src: url(fonts/comic.ttf);
}
body {
    background-color: antiquewhite;
}
h1 {
    font-family: "Comic Sans", Arial;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    color: darkgreen;
}
p {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 5px dashed darkred;
}
.welcome {
    text-align: center;
    font-family: "Comic Sans", Arial;
    font-size: 20px;
    color: darkblue;
}